<div class="" id="Top">
    <div class="col-md-12 col-xs-12">
        <div *ngIf="ErrorMsg" role="alert" class="alert alert-danger alert-dismissible">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ErrorMsg}}
        </div>
        <div *ngIf="SuccessMsg" role="alert" class="alert alert-success alert-dismissible">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{SuccessMsg}}
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-info" role="alert" *ngIf="indLoading">
            <img src="{{LoaderImage}}" width="32" height="32" /> Loading...
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="TextMenuClass">
                    <span>Health Tow List</span>
                </h4>
            </div>
            <div class="card-content">
                <div class="container-fluid row">
                    <form [formGroup]="SearchForm" autocomplete="off">
                        <div class="form-group col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" autocomplete="off" placeholder="Record ID" formControlName="RecordIdFormControl" maxlength="10">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" autocomplete="off" placeholder="License Plate" formControlName="PlateFormControl" maxlength="20">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" autocomplete="off" placeholder="Vin" formControlName="VinFormControl" maxlength="18">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="fromdatepicker" placeholder="From Date" name="FromDate" formControlName="FromDateFormControl"
                                    onkeydown="return false" (click)="fromdatepicker.open()">
                                <mat-datepicker-toggle matSuffix [for]="fromdatepicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #fromdatepicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="todatepicker" placeholder="To Date" name="ToDate" formControlName="ToDateFormControl" onkeydown="return false"
                                    (click)="todatepicker.open()">
                                <mat-datepicker-toggle matSuffix [for]="todatepicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #todatepicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Year" formControlName="YearFormControl" maxlength="4" (keypress)="integerOnly($event)">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <mat-form-field class="example-full-width">
                                <!-- <mat-label>Make</mat-label>
                  <mat-select formControlName="MakeFormControl">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let x of MakeList" [value]="x.Make_Id">{{x.Description}}
                    </mat-option>
                  </mat-select> -->

                                <input matInput placeholder="Make" aria-label="Make" [matAutocomplete]="autoMake" formControlName="MakeFormControl" maxlength="50" (blur)="checkValidInput('make')">
                                <mat-autocomplete #autoMake="matAutocomplete" [displayWith]="displayFnMake">
                                    <mat-option *ngFor="let x of filteredMakes | async" [value]="x" (onSelectionChange)="changeMake($event)">
                                        {{ x.Description}}
                                    </mat-option>
                                </mat-autocomplete>
                                <button mat-button *ngIf="SearchForm.controls['MakeFormControl'].value && SearchForm.controls['MakeFormControl'].enabled"
                                    matSuffix mat-icon-button aria-label="Clear" (click)="resetMake()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <!-- <mat-label>Model</mat-label>
                  <mat-select formControlName="ModelFormControl" (selectionChange)="changeModel($event)">
                      <mat-option>Select</mat-option>
                      <mat-option *ngFor="let x of ModelList" [value]="x.Model_Id">{{x.Description}}
                      </mat-option>
                  </mat-select> -->
                                <input matInput placeholder="Model" aria-label="Model" [matAutocomplete]="autoModel" formControlName="ModelFormControl" maxlength="50" (blur)="checkValidInput('model')">
                                <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayFnModel">
                                    <mat-option *ngFor="let x of filteredModels | async" [value]="x">
                                        {{ x.Description}}
                                    </mat-option>
                                </mat-autocomplete>
                                <button mat-button *ngIf="SearchForm.controls['ModelFormControl'].value && SearchForm.controls['ModelFormControl'].enabled"
                                    matSuffix mat-icon-button aria-label="Clear" (click)="resetModel()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-checkbox class="example-margin mat-primary" color="primary" formControlName="IsScrapFormControl">Scrap-Released</mat-checkbox> &nbsp;&nbsp;
                            <mat-checkbox class="example-margin mat-primary" color="primary" formControlName="IsImpRlsFormControl">Impound-Released</mat-checkbox> &nbsp;&nbsp;
                            <mat-checkbox class="example-margin mat-primary" color="primary" formControlName="IsAllFormControl">All</mat-checkbox>
                            <!-- (change)="SelectAll()" -->
                        </div>

                        <div class="form-group col-md-6 col-xs-12">
                            <div class="btn btn-blue1 btn-labeled">
                                <a class="hyperlink" href="{{webUrl}}officer/tabs/vehicleinfotab.aspx?TowMode=New&Type=HealthTow" target="_parent" style="color:#ffffff;">
                                    <span class="btn-label">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    Create</a>
                            </div>

                           
                            <button class="btn btn-blue1 btn-labeled" (click)="Search(SearchForm.value);" type="submit">
                                <span class="btn-label">
                                    <i class="fa fa-search"></i>
                                </span>
                                Search
                            </button>
                            <button class="btn btn-blue1 btn-labeled" (click)="download()">
                                <span class="btn-label">
                                    <i class="fa fa-file-excel-o"></i>
                                </span>Export To Excel</button>
                            <button class="btn btn-blue1 btn-labeled" name="Clear" (click)="Clear()">
                                <span class="btn-label">
                                    <i class="fa fa-eraser"></i>
                                </span>
                                Clear</button>



                        </div>
                        <div class="form-group col-md-6 col-xs-12 text-right" *ngIf="TowList?.length>0">
                            <ul class="list-inline">
                                <li>
                                    <button type="button" mat-raised class="btn btn-blue1" type="button" title="First" name="btnfirst" (click)="first()">&laquo;</button>
                                </li>
                                <li>
                                    <button type="button" mat-raised class="btn btn-blue1" type="button" title="Previous" name="btnprevious" (click)="previous()">&lsaquo;</button>
                                </li>
                                <li>
                                    <mat-select placeholder="Page #" [value]="PageId" name="PageId" (selectionChange)="onPageChange($event.value)">
                                        <mat-option *ngFor="let page of TotalPageCount" [value]="page.Id">
                                            {{page.Description}}
                                        </mat-option>
                                    </mat-select>
                                </li>
                                <li>
                                    <button type="button" mat-raised class="btn btn-blue1" type="button" title="Next" name="btnnext" (click)="next()">&rsaquo;</button>
                                </li>
                                <li>
                                    <button type="button" mat-raised class="btn btn-blue1" type="button" title="Last" name="btnlast" (click)="last()">&raquo;</button>
                                </li>
                                <li>
                                    <label class="labtext-bold ">{{TotalRecord}}</label>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div class="col-md-12 col-xs-12">
                        <div class="table-responsive">
                            <!-- <table class="table table-bordered table-condensed" align="center" *ngIf="TowColumnsList?.length > 0">
                  <thead>
                    <tr>
                      <th class="text-center" *ngFor="let item of TowColumnsList; let i=index">
                        <b>{{item}}</b>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rowDetails of TowRowsList">
                      <td class="text-left" *ngFor="let col of TowColumnsList">
                        <div *ngIf="rowDetails && towlistService.getType(rowDetails[col]) != 'object'">{{rowDetails[col]}}
                        </div>
                        <div
                          *ngIf="rowDetails && towlistService.getType(rowDetails[col]) === 'object' && rowDetails[col]?.IsVisible">
                          <div [ngSwitch]="rowDetails[col]?.ControlType">
                            <a *ngSwitchCase="'link'" class="hyperlink" href="{{rowDetails[col].Link}}"
                              target="_blank">{{rowDetails[col].Value}}</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="TowRowsList?.length == 0">
                    <tr>
                      <td colspan="8">No Records Found!!</td>
                    </tr>
                  </tbody>
                </table> -->
                            <!-- new dynamic -->
                            <table class="table table-bordered table-condensed" align="center">
                                <thead *ngIf="TowList?.length > 0">
                                    <tr>
                                        <th class="text-center td-pading" *ngFor="let item of towlistService.getKeys(TowList[0])|removeTableColum:['TowingId','TotalRecords','TotalPages']; let i=index">
                                            <b *ngIf="item !='TowingId'">{{item}}</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="TowList?.length > 0">
                                    <tr *ngFor="let item of TowList">
                                        <td class="td-pading" *ngFor="let list of item | objIterate | removeTableColum:towlistService.removeColumnList" [hidden]="list=='TowingId'">
                                            <span *ngIf="list!='TowingId' && list!='RecordId'">{{item[list]}}</span>
                                            <span *ngIf="list=='RecordId'">
                                                <a class="hyperlink" href="{{webUrl}}/Officer/Tabs/VehicleInfoTab.aspx?TID={{item.TowingId}}&FromList=SearchTow.aspx&Type=HealthTow"
                                                    target="_parent">{{item[list]}}</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="TowList?.length == 0">
                                    <tr>
                                        <td colspan="8">No Records Found!!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>