<form [formGroup]="ContactsForm">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div *ngIf="ErrorMsg" role="alert" class="alert alert-danger alert-dismissible">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ErrorMsg}}
      </div>
      <div *ngIf="SuccessMsg" role="alert" class="alert alert-success alert-dismissible">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {{SuccessMsg}}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <!-- <div class="col-md-3" style="font: menu;">
      <h3>Contact Details</h3>
      <hr>
    </div> -->
    <div class="clearfix"></div>
    <div class="col-md-12">

    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      <div formArrayName="OfficerListArray">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Officer Type</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col" style="width: 7%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let field of permitVehInfoListArrayformData.controls; let i = index"
              [formGroupName]="i">
              <tr>
                <td class="tdContent">
                  <div class="form-group">
                    <select id="ddlOfficerType{{i}}" name="ddlOfficerType{{i}}" class="form-control"
                      formControlName="OfficerTypeId"
                      [ngClass]="{ 'is-invalid': submitted && field.get('OfficerTypeId').hasError('required') }">
                      <option value="">--Select--</option>
                      <option *ngFor="let item of OfficerTypeList" [ngValue]="item.Id">{{item.Description}}
                      </option>
                    </select>
                    <div *ngIf="submitted && field.get('OfficerTypeId').hasError('required')"
                      class="invalid-feedback margin-left">
                      <div *ngIf="field.get('OfficerTypeId').hasError('required')">
                        Required Field</div>
                    </div>
                  </div>
                </td>
                <td class="tdContent">
                  <div class="form-group">
                    <input type="text" class="form-control" id="txtName{{i}}" formControlName="Name"
                      [ngClass]="{ 'is-invalid': submitted && field.get('Name').hasError('required') }">
                    <div *ngIf="submitted && field.get('Name').hasError('required')"
                      class="invalid-feedback margin-left">
                      <div *ngIf="field.get('Name').hasError('required')">
                        Required Field</div>
                    </div>
                  </div>
                </td>
                <td class="tdContent">
                  <div class="form-group">
                    <input type="tel" class="form-control" id="txtPhone{{i}}" formControlName="Phone"
                      [ngClass]="{ 'is-invalid': submitted && field.get('Phone').hasError('required') }"
                      [textMask]="{mask:phonemask}">
                    <div *ngIf="submitted && field.get('Phone').hasError('required')"
                      class="invalid-feedback margin-left">
                      <div *ngIf="field.get('Phone').hasError('required')">
                        Required Field</div>
                    </div>
                  </div>
                </td>
                <td class="tdContent">
                  <div class="form-group">
                    <input type="email" class="form-control" id="txtEmail{{i}}" formControlName="Email"
                      [ngClass]="{ 'is-invalid': submitted && field.get('Email').hasError('required') }">
                    <div *ngIf="submitted && field.get('Email').hasError('required') || field.get('Email').hasError('pattern')"
                      class="invalid-feedback margin-left">
                      <div *ngIf="field.get('Email').hasError('required')">
                        Required Field</div>
                        <div *ngIf="!field.get('Email').hasError('required') && field.get('Email').hasError('pattern')">
                          Invalid Email.
                        </div>
                    </div>
                   
                  </div>
                </td>
                <td class="text-center">
                  <a (click)="deleteRow(i)" *ngIf="i>0">Delete</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
<div class="row text-center">
  <button type="button" class="btn btn-blue1 btn-labeled" (click)="AddNewPermitInfoRow()">
    <span class="btn-label">
      <i class="fa fa-plus"></i>
    </span>
    Add
  </button>
  <button type="button" class="btn btn-blue1 btn-labeled" (click)="Save()">
    <span class="btn-label">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
  </span>
   Save
  </button>
</div>